:root {}

html,
body {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media only screen and (max-width: 500px) {

    .html,
    body {
        min-width: 777px;
    }
}



h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 40px;
    margin: 0px;
    padding-top: 10px;

}

h2 {
    font-family: 'Ralweay', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
}

h3 {
    font-family: 'Ralweay', sans-serif;
    font-weight: 300;
    font-size: 20px;

}

p,
li {
    font-family: 'Ralweay', sans-serif;
    font-weight: 400;
    font-size: 18px;
}


a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

.margin-top {
    margin: 74px auto;
}

.sub-header-rec {
    width: 25vw;
    margin: 5px auto;
}

footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 1vw;
}

.page-description {
    padding: 15px 5px;
}

/*Navigation Bar*/

.main-nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-nav {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.nav-box {
    width: 15vw;
    background-color: lightblue;
    text-align: center;
    padding: 8px 0px;
    background: #F8E4DB;
}

.nav-box:hover {
    background: #d89a9e;
    border-bottom: 4px solid black;
    font-style: italic;
}

.nav-active {
    background: #d89a9e;
    border-bottom: 4px solid black;
}

.main-nav h1:hover {
    background: #4D7298;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px black;
}

/*Nav for Mobile*/
@media only screen and (max-width: 500px) {}


/*Colours*/
.beige {
    background-color: #F8E4DB;
}

.light-pink {
    background-color: #d89a9e;
}

.blue {
    background-color: #4D7298;
}

.green {
    background-color: #AEB4A9;
}

.dark-pink {
    background-color: #C37D92;
}

/*About Page*/

.page-body {
    height: auto;
    width: 100vw;
    background: none;

}

.body-header {
    height: 15vh;
    width: 30vw;
    position: relative;
}

.rectangle {
    width: 20vw;
    height: 11vh;
    opacity: .75;
}

.bottom-rec {
    position: absolute;
    left: 0;
    bottom: 0;

}

.top-rec {
    position: absolute;
    right: 0;
    top: 0;
}

.page-title {
    position: absolute;
    left: 10vw;
}


/*About - Profile*/

.profile {
    height: auto;
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to left, rgba(248, 228, 219, 1), rgba(248, 228, 219, 0));
}

p.profile-text {
    width: 80%;
    padding: 30px 15px;
}

.circle-image {
    height: 226px;
    width: 226px;
    object-fit: cover;
    border-radius: 100%;
}

/*About - Education*/
.education {
    height: auto;
    width: 60vw;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 20vw;
}

.about-institution {
    height: auto;
    width: 60vw;
    display: flex;
    padding-left: 2.5vw;
}

.edu-img {
    height: 113px;
    width: 113px;
    object-fit: cover;
    padding-right: 5vw;
}

.school {
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin-right: 7vw;
}

/*About - Certifications*/

.about-cert-text {
    height: auto;
    width: 60vw;
    display: flex;
    padding-left: 2.5vw;
}

.school-cert {
    width: 46vw;
    display: flex;
    flex-direction: column;
    font-style: italic;
}

/*About - Skills*/
.about-skill-text p {
    width: auto;
    margin: 0px 72px;
    padding: 10px 0px;
    text-align: left;
}

.skill-italic {
    font-style: italic;
}

/*About for Mobile*/
@media only screen and (max-width: 500px) {
    .profile {
        width: 60vw;
        display: flex;
        flex-direction: column;
    }

    .page-title {
        left: 0;
    }

    .profile {
        background-image: linear-gradient(to top, rgba(248, 228, 219, 1), rgba(248, 228, 219, 0));
    }

    .about-institution {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 2.5vw;
    }

    .about-cert-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 0;
    }

}

/*Visual Art Page*/

.img-box {
    width: 225px;
}

.img-container {
    position: relative;
}

.visual-text-overlay {
    width: 225px;
    position: absolute;
    text-align: center;
    top: 0px;
    opacity: 0;
}

.img-container:hover .img-box {
    opacity: 0.5;
}

.img-container:hover .visual-text-overlay {
    opacity: 1;
}

/*Visual Art - PSD Grid*/

.psd-image-layout {
    width: auto;
    height: auto;
    padding: 15px 0px;

    display: grid;
    grid-template:
        "a b c d"
    ;

    justify-content: space-evenly;
}

.psd1 {
    grid-area: a;
}

.psd2 {
    grid-area: b;
}

.psd3 {
    grid-area: c;
}

.psd4 {
    grid-area: d;
}

@media only screen and (max-width: 1200px) {
    .psd-image-layout {
        grid-template:
            "a b"
            "c d"
        ;
    }
}

/*Visual Art - Illustrator Grid*/

.ill-image-layout {
    width: auto;
    height: auto;
    padding: 15px 0px;

    display: grid;
    grid-template:
        "e f g h"
        "i j k l"
    ;

    justify-content: space-evenly;
    row-gap: 15px;
}

@media only screen and (max-width: 1200px) {
    .ill-image-layout {
        grid-template:
            "e f"
            "g h"
            "i j"
            "k l"
        ;
    }
}

.psd5 {
    grid-area: e;
}

.psd6 {
    grid-area: f;
}

.psd7 {
    grid-area: g;
}

.psd8 {
    grid-area: h;
}

.psd9 {
    grid-area: i;
}

.psd10 {
    grid-area: j;
}

.psd11 {
    grid-area: k;
}

.psd12 {
    grid-area: l;
}

/*Visual Art - Website Design Grid*/

.web-image-layout {
    width: auto;
    height: auto;
    padding: 15px 0px;

    display: grid;
    grid-template:
        "m n o p"
    ;

    justify-content: space-evenly;
    row-gap: 15px;
}

@media only screen and (max-width: 1200px) {
    .web-image-layout {
        grid-template:
            "m n"
            "o p"
        ;
    }
}


.psd13 {
    grid-area: m;
}

.psd14 {
    grid-area: n;
}

.psd15 {
    grid-area: o;
}

.psd16 {
    grid-area: p;
}

/*Visual Art - Other Projects Grid*/

.other-proj-image-layout {
    width: auto;
    height: auto;
    padding: 15px 0px;

    display: grid;
    grid-template:
        "q r s t"
    ;

    justify-content: space-evenly;
    row-gap: 15px;
}

@media only screen and (max-width: 1200px) {
    .other-proj-image-layout {
        grid-template:
            "q r"
            "s t"
        ;
    }
}


.psd17 {
    grid-area: q;
}

.psd18 {
    grid-area: r;
}

.psd19 {
    grid-area: s;
}

.psd20 {
    grid-area: t;
}

/*Theatre Page*/

.thea-image-layout {
    width: auto;
    height: auto;
    padding: 15px 0px;

    display: grid;
    grid-template:
        "u v w x"
        "y z t1 t2"
    ;

    justify-content: space-evenly;
    row-gap: 15px;
}

@media only screen and (max-width: 1200px) {
    .thea-image-layout {
        grid-template:
            "u v"
            "w x"
            "y z"
            "t1 t2"
        ;
    }
}

.psd21 {
    grid-area: u;
}

.psd22 {
    grid-area: v;
}

.psd23 {
    grid-area: w;
}

.psd24 {
    grid-area: x;
}

.psd25 {
    grid-area: y;
}

.psd26 {
    grid-area: z;
}

.psd27 {
    grid-area: t1;
}

.psd28 {
    grid-area: t2;
}



/*Other Work Page*/
.left-align p,
li {
    text-align: left;
}

/*Contact Page*/
.contact-info {
    height: 446px;
    width: 769px;

    margin: 0px auto;
    display: flex;
    position: relative;
}

.contact-img {
    height: 286px;
    width: 480px;
    position: absolute;
    object-fit: cover;
}

.back-img {
    bottom: 0px;
    right: 0px;
}

.info h2 {
    padding-top: 40px;
}