/*TO DO
-fix the sub-heading rectangles. They shift with responsiveness. 
-fine tune padding/margins so it's all consistent
*/

:root {
    --navy: #000276;
    --pink: #FFBFF9;
    --white: #fff;

}

html {
    height: auto;
    width: auto;
    padding: 5vh 10vw;
    background-color: var(--white);
    font-family: 'Raleway', sans-serif;
    color: var(--navy);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

.bottomBox:hover {
    font-weight: 600;
    transition: 1s;
}

p {
    margin-bottom: .1em;
}



/*NAV*/

nav {
    width: 100%;
    height: 8em;
    display: flex;

    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: right;
}

.city {
    text-align: right;
    font-style: italic;
}

/*HOME BODY*/

body {
    display: flex;
    flex-direction: column;
    gap: 8em;
}

.scroller {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template:
        "A A B C D" 212px
        "A A E E D" 212px
        "F F E E D" 212px
        /*"H H I J J" 212px*/
    ;
    gap: 1em;
    box-sizing: border-box;
}

.imgA {
    grid-area: A;
}

.imgB {
    grid-area: B;
}

.imgC {
    grid-area: C;
}

.imgD {
    grid-area: D;
}

.imgE {
    grid-area: E;
}

.imgF {
    grid-area: F;
    display: flex;
    justify-content: space-between;
}

/*
.imgG {
    grid-area: G;
}

.imgH {
    grid-area: H;
}

.imgI {
    grid-area: I;
}

.imgJ {
    grid-area: J;
}*/




.toTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.toTop>p {
    font-size: small;
}

/*ABOUT BODY*/

.profile {
    display: flex;
    margin: 0 5em;
}

.profileText {
    margin-left: 5em;
    line-height: 2;
    font-size: large;

}

.contact {
    position: relative;
    height: 10em;
    width: 100%;
    margin-bottom: 10em;
    text-align: center;

}

.topBox {
    height: 12em;
    width: 25em;
    border: 3px solid var(--pink);
    background-color: white;
    position: absolute;
    left: 20%;
    padding-top: 3em;
    box-sizing: border-box;
}

.bottomBox {
    height: 12em;
    width: 25em;
    border: 3px solid var(--navy);
    background-color: white;
    position: absolute;
    right: 20%;
    top: 60%;
    padding-top: 3em;
    box-sizing: border-box;

}

/*VIDEO*/

.plant {
    height: 40em;
    width: 100%;

}

.plantDescription {
    margin: 0.5em 15vw;
    border: 1px solid var(--navy);
    padding: 0.5em;
    box-shadow: 0.25em 0.25em 0.5em var(--navy);
    background-color: var(--white);
}

.plantDescription:hover {
    box-shadow: 0.5em 0.5em 0.5em var(--navy);
}

.plantDescription>a>h2 {
    text-align: center;
}

#plantText {
    display: none;
    padding: 1em 2em;
}


/*IMAGES*/

.logoImg {
    height: 100%;
}

.scrollerImg {
    margin: 0 1em;
    position: relative;

}

.scrollerImg:hover>.hoverText,
.scrollerImg:active>.hoverText {
    opacity: 100%;
    transition: 0.5s;
}

.scrollerImg:hover>img,
.scrollerImg:active>.img {
    opacity: 15%;
    transition: 0.5s;
}

.hoverText {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 2em;
    opacity: 0%;
    z-index: 1;
    padding: 0 1em;
    box-sizing: border-box;
}

.gridContainer {
    position: relative;

}

.gridContainer:hover>.gridText {
    opacity: 100%;
    transition: 0.5s;
}

.gridContainer:hover>img {
    opacity: 25%;
    transition: 0.5s;
}

.gridText {
    width: 100%;
    position: absolute;
    text-align: center;
    opacity: 0%;
    z-index: 1;
    padding: 0 1em;
    margin-top: 0px;
    box-sizing: border-box;
}

.library,
.backpack,
.catmag {
    height: 40em;
    width: 100%;
    object-fit: contain;
}

.headshot {
    height: 25em;
    width: 25em;
    object-fit: cover;
}

.linkedinImg {
    height: 2em;
    width: 2em;
    object-fit: cover;
}

.linkedinImg:hover {
    border: none;
    border-radius: 0%;
}

.toTopButton {
    height: 4em;
    width: 4em;
    background-image: url(images/toTopButtonBlue.svg);
    background-size: cover;
}

.toTopButton:hover {
    background-image: url(images/toTopButtonPink.svg);

}

/*GRID IMAGES*/



.gridImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dog {
    object-fit: contain;
}

.trainlogo {
    object-fit: contain;
}

/*Tablet*/
@media only screen and (max-width: 850px) and (min-width: 451px) {

    html {
        padding: 5vh 10vw;
        scroll-behavior: smooth;
    }


    p {
        margin-bottom: .1em;
    }

    body {
        gap: 2em;
    }

    .scroller {
        display: flex;
        flex-direction: column;
        gap: 0em;
    }

    .hoverText,
    .gridText {
        position: inherit;
        opacity: 100%;
    }


    .scroller>a,
    .imgA>a,
    .imgB>a,
    .imgC>a,
    .imgD>a,
    .imgE>a,
    .imgF>a {
        display: flex;
        flex-direction: row-reverse;
    }


    .grid {
        grid-template:
            "A A"
            "B B"
            "C C"
            "D D"
            "E E"
            "F F"
        ;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2em;
    }
    
    .profileText {
        margin-left: 2em;
    
    }
    
    .topBox {
        height: 12em;
        width: 25em;
        border: 3px solid var(--pink);
        background-color: white;
        position: absolute;
        left: 30%;
        padding-top: 3em;
        box-sizing: border-box;
    }
    
    .bottomBox {
        height: 12em;
        width: 25em;
        border: 3px solid var(--navy);
        background-color: white;
        position: absolute;
        right: 30%;
        top: 80%;
        padding-top: 3em;
        box-sizing: border-box;
    
    }

}

/*Mobile*/
@media only screen and (max-width: 450px) {

    html {
        padding: 5vh 10vw;
        scroll-behavior: smooth;
    }


    p {
        margin-bottom: .1em;
    }



    nav {
        width: 100%;
        height: 4em;
        flex-direction: column;

        justify-content: flex-start;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logo {
        justify-content: center;
    }

    .city {
        text-align: center;
    }

    .logoImg {
        height: 5em;
    }

    .scroller {
        display: flex;
        flex-direction: column;
        gap: 4em;
        margin-top: 5em;
    }

    .hoverText,
    .gridText {
        position: inherit;
        opacity: 100%;
        top: 0;
    }

    .library,
    .backpack,
    .catmag {
        height: 20em;
        width: 100%;
        margin: 0;
        object-fit: contain;
    }


    .scroller>a,
    .imgA>a,
    .imgB>a,
    .imgC>a,
    .imgD>a,
    .imgE>a,
    .imgF>a {
        display: flex;
        flex-direction: column-reverse;
    }


    .grid {
        grid-template:
            "A A"
            "B B"
            "C C"
            "D D"
            "E E"
            "F F"
        ;
        gap: 3em
    }

    .plant {
        height: 20em;
        width: 100%;

    }

    .plantDescription {
        margin: 0.5em 5vw;
        padding: 0.02em;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1em;
    }
    
    .profileText {
        margin-left: 1em;
    
    }

    .headshot {
        height: 20em;
        width: 20em;
        object-fit: cover;
        margin-top: 5em;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 2em;
        position: relative;
        height: 16em;
        width: 100%;
        margin-bottom: 5em;
        text-align: center;
    
    }
    .topBox {
        height: 8em;
        width: 21em;
        border: 3px solid var(--pink);
        background-color: white;
        position: static;
        padding: 3em 0;
    }
    
    .bottomBox {
        height: 8em;
        width: 21em;
        border: 3px solid var(--navy);
        background-color: white;
        position: static;
        padding: 3em 0;
    
    }

}


/*HIDE FOR NOW*/

.imgH,
.imgI,
.imgJ {
    display: none;
}