/*TO DO
-fix the sub-heading rectangles. They shift with responsiveness. 
-Add javascript to the nav bar so it collapses into an icon on mobile/ipad
-fine tune padding/margins so it's all consistent
*/

:root {}

html,
body {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media only screen and (max-width: 500px) {

    .html,
    body {
        min-width: 777px;
    }
}



h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 40px;
    margin: 0px;
    padding-top: 10px;

}

h2 {
    font-family: 'Ralweay', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
}

h3 {
    font-family: 'Ralweay', sans-serif;
    font-weight: 300;
    font-size: 20px;

}

p,
li {
    font-family: 'Ralweay', sans-serif;
    font-weight: 400;
    font-size: 18px;
}


a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

.margin-top {
    margin: 74px auto;
}

.sub-header-rec {
    width: 25vw;
    margin: 5px auto;
}

footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 1vw;
}

.page-description {
    width: 60vw;
    box-sizing: border-box;
    padding: 1vw;
    text-align: center;
}

/*Navigation Bar*/

.main-nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-nav {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.nav-box {
    width: 15vw;
    background-color: lightblue;
    text-align: center;
    padding: 8px 0px;
    background: #F8E4DB;
}

.nav-box:hover {
    background: #d89a9e;
    border-bottom: 4px solid black;
    font-style: italic;
}

.nav-active {
    background: #d89a9e;
    border-bottom: 4px solid black;
}

.main-nav h1:hover {
    background: #4D7298;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px black;
}

/*Nav for Mobile*/
@media only screen and (max-width: 500px) {}


/*Colours*/
.beige {
    background-color: #F8E4DB;
}

.light-pink {
    background-color: #d89a9e;
}

.blue {
    background-color: #4D7298;
}

.green {
    background-color: #AEB4A9;
}

.dark-pink {
    background-color: #C37D92;
}

/*About Page*/

.page-body {
    height: auto;
    width: 100vw;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.body-header {
    height: 15vh;
    width: 30vw;
    position: relative;
}

.rectangle {
    width: 20vw;
    height: 11vh;
    opacity: .75;
}

.bottom-rec {
    position: absolute;
    left: 0;
    bottom: 0;

}

.top-rec {
    position: absolute;
    right: 0;
    top: 0;
}

.page-title {
    position: absolute;
    left: 10vw;
}


/*About - Profile*/

.profile {
    height: auto;
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to left, rgba(248, 228, 219, 1), rgba(248, 228, 219, 0));
}

p.profile-text {
    width: 80%;
    padding: 30px 15px;
}

.circle-image {
    height: 226px;
    width: 226px;
    object-fit: cover;
    border-radius: 100%;
}

/*About - Education*/
.education {
    height: auto;
    width: 60vw;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 20vw;
}

.about-institution {
    height: auto;
    width: 60vw;
    display: flex;
    padding-left: 2.5vw;
}

.edu-img {
    height: 113px;
    width: 113px;
    object-fit: cover;
    padding-right: 5vw;
}

.school {
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin-right: 7vw;
}

/*About - Certifications*/

.about-cert-text {
    height: auto;
    width: 60vw;
    display: flex;
    padding-left: 2.5vw;
}

.school-cert {
    width: 46vw;
    display: flex;
    flex-direction: column;
    font-style: italic;
}

/*About - Skills*/
.about-skill-text p {
    width: auto;
    margin: 0px 72px;
    padding: 10px 0px;
    text-align: left;
}

.skill-italic {
    font-style: italic;
}

/*About for Mobile*/
@media only screen and (max-width: 500px) {
    .profile {
        width: 60vw;
        display: flex;
        flex-direction: column;
    }

    .page-title {
        left: 0;
    }

    .profile {
        background-image: linear-gradient(to top, rgba(248, 228, 219, 1), rgba(248, 228, 219, 0));
    }

    .about-institution {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 2.5vw;
    }

    .about-cert-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 0;
    }

}

/*Visual Art Page*/

.img-box {
    width: 224px;
}

.img-container {
    position: relative;
}

.visual-text-overlay {
    width: 224px;
    position: absolute;
    text-align: center;
    top: 0px;
    opacity: 0;
}

.img-container:hover .img-box {
    opacity: 0.5;
}

.img-container:hover .visual-text-overlay {
    opacity: 1;
}

/*Visual Art - PSD Grid*/

.psd-image-layout{
    width: 60vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/*Other Work Page*/
.left-align p,
li {
    text-align: left;
}

.school {
    display: flex;
    flex-direction: column;
    font-style: italic;

}

@media only screen and (max-width: 500px) {
    .left-align p{
        text-align: center;
    }
}

/*Contact Page*/
.contact-info {
    height: 60vh;
    width: 60vw;
    margin: 0px auto;
    display: flex;
    position: relative;
}

.contact-img {
    height: 40vh;
    width: 35vw;
    position: absolute;
    object-fit: cover;
}

.back-img {
    bottom: 0px;
    right: 0px;
}

.info h2 {
    padding-top: 40px;
}

/*Contact for Mobile*/
@media only screen and (max-width: 500px) {
    .contact-info {
        height: 80vh;
        width: 60vw;
        margin: 0px auto;
        display: flex;
    }
    
    .contact-img {
        height: 40vh;
        width: 60vw;
        object-fit: cover;
    }
    
    .back-img {
        bottom: 0px;
        left: 0px;
    }

}